body {
    background-color: black;
    color: #32CD32;
}

.main-title {
    text-align: center;
    font-size: 5em;
    text-decoration: underline;
    font-family: 
}

.myDiv {
    background-image: url(../images/big_caution.jpg);
    background-size: 100%;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 4em;
    border: 2px solid;
    border-radius: 16px;
    padding: .5em;
    margin: .5em;
}

.more-text {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: black;
    border-radius: 16px;
    justify-content: space-around;
    padding-bottom: 4em;
    padding: .5em;
    margin: .5em;
}

.more-text a:link {
    color: #32CD32;
}

.more-text a:visited {
    color: orangered;
}

.more-text a:hover {
    color: white;
}

footer {
    text-align: center;
    border: 2px solid;
    border-radius: 16px;
    padding: .5em;
    padding-top: 1.5em;
    margin: .5em;
}

footer a:link {
    color: #32CD32;
}

footer a:visited {
    color: orangered;
}

footer a:hover {
    color: white;
}

/* Individual Page Styles */

img {
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
}

.op, .intro-section, .associates, .portrait, .aliases, .origin, .head {
    border: 2px solid;
    border-radius: 16px;
    padding: .5em;
    margin: .5em;
}