body {
    background-color: black;
    color: #32CD32;
}

div a:hover {
    color: white;
}

.main-title {
    text-align: center;
    font-size: 5em;
    text-decoration: underline;
}

img {
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 100px;
}

.container {
    background-color: red;
    flex: 1;
}

.myDiv {
    background-image: url(../images/big_caution.jpg);
    background-size: 100%;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 4em;
    border: 2px solid;
    border-radius: 16px;
    padding: .5em;
    margin: .5em;
}

.more-text {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: black;
    border-radius: 16px;
    justify-content: space-around;
    padding-bottom: 4em;
    padding: .5em;
    margin: .5em;
}

footer {
    text-align: center;
    border: 2px solid;
    border-radius: 16px;
    padding: .5em;
    padding-top: 1.5em;
    margin: .5em;
}

footer a:hover {
    color: white;
}

/* Individual Changes */

/* .intro-section {
    border: 2px solid;
    border-radius: 16px;
    padding: .5em;
    margin: .5em;
} */
